{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    
    <label for="username" class="control-label col-lg-2">Username</label>
    {{ form.username(placeholder="username") }}

    <br>

    <label for="password" class="control-label col-lg-2">Password</label>
    {{ form.password(placeholder="password") }}

    <br>
    
    <input type="submit" class="btn btn-success" value="Log In">
    <a href="{{ url_for('auth.register') }}">Create account</a>
  </form>
{% endblock %}