{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    <label for="name" class="control-label col-lg-2">Name</label>
    {{ form.name(placeholder="name") }}
    <br>
    <label for="username" class="control-label col-lg-2">Username</label>
    {{ form.username(placeholder="username") }}
    <br>
    <label for="email" class="control-label col-lg-2">Email</label>
    {{ form.email(placeholder="email") }}
    <br>
    <label for="password" class="control-label col-lg-2">Password</label>
    {{ form.password(placeholder="password") }}
    <br>
    <input type="submit" class="btn btn-success" value="Register">
    <a href="{{ url_for('auth.login') }}">  Already have an account? Login</a>

  </form>
{% endblock %}